@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?arikr0');
  src:  url('fonts/icomoon.eot?arikr0#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?arikr0') format('truetype'),
  url('fonts/icomoon.woff?arikr0') format('woff'),
  url('fonts/icomoon.svg?arikr0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yandex:before {
  content: "\e917";
}
.icon-mastercard:before {
  content: "\e90d";
}
.icon-mir:before {
  content: "\e910";
}
.icon-qiwi:before {
  content: "\e911";
}
.icon-sber:before {
  content: "\e912";
}
.icon-visa:before {
  content: "\e913";
}
.icon-walletone:before {
  content: "\e914";
}
.icon-webmoney:before {
  content: "\e915";
}
.icon-yandexmoney:before {
  content: "\e91a";
}
.icon-odnoklassniki:before {
  content: "\e91b";
}
.icon-telegram:before {
  content: "\e920";
}
.icon-tiktok:before {
  content: "\e921";
}
.icon-viber:before {
  content: "\e922";
}
.icon-whatsapp:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e90c";
}
.icon-skype:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-grid:before {
  content: "\e904";
}
.icon-list:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e900";
}
.icon-geo:before {
  content: "\e901";
}
.icon-favorites:before {
  content: "\e905";
}
.icon-cart2:before {
  content: "\e906";
}
.icon-login:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-compare:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e91c";
}
.icon-vk:before {
  content: "\e91d";
}
.icon-up:before {
  content: "\e91e";
}
.icon-youtube:before {
  content: "\e91f";
}
